modeloapp/__pycache__/*
/apps/categories/__pycache__/*
/apps/categories/migrations/*
/apps/profissionais/__pycache__/*
/apps/profissionais/migrations/*
/apps/pacientes/__pycache__/*
/apps/pacientes/migrations/*
/apps/atendimento/__pycache__/*
/apps/atendimento/migrations/*